<app-card [content]="content" [footer]="footer" [image]="image">
    <ng-template #image>
        <img src="/images/pizza.avif" alt="">
    </ng-template>
    <ng-template #content>
        <div class="card-content">
            <div class="name">
                <h3>{{pizza().name.uk}}</h3>
            </div>

            <span class="ingredients"></span>
        </div>

    </ng-template>

    <ng-template #footer>
        <div class="price">
            <span>{{pizza().price.small}}</span>
            <span>грн</span>
        </div>

        <div class="action">
            <app-basket-button />
        </div>
    </ng-template>
</app-card>