<header class="header">

    <nav class="navigation">

        <span class="phone-number">
            <a href="tel:+0442221111">0442221111</a>
        </span>

        <div class="locations">
            <span>Kyiv</span>
        </div>

        <a class="navigation-link" routerLink="promotions">Promotions</a>
        <a class="navigation-link" routerLink="pizzas">Pizzas</a>
        <a class="navigation-link" routerLink="news">News</a>
    </nav>

    <div class="settings">
        <button class="btn" (click)="onChangeLanguage('uk-UA')">Uk</button>
        <button class="btn" (click)="onChangeLanguage('en-EN')">EN</button>
    </div>

</header>